server {
  listen 80;
  listen 443 ssl;

  ssl_certificate         /etc/nginx/certs/test2022-frontend-rostyslav-m.abzdev2.com.cer;
  ssl_certificate_key     /etc/nginx/certs/test2022-frontend-rostyslav-m.abzdev2.com.key;

  server_name test2022-frontend-rostyslav-m.abzdev2.com www.test2022-frontend-rostyslav-m.abzdev2.com;
  root /var/www/test2022-frontend-rostyslav-m.abzdev2.com/current/public;

        error_log /var/log/nginx/test2022-frontend-rostyslav-m.abzdev2.com.error.log;
        access_log /var/log/nginx/test2022-frontend-rostyslav-m.abzdev2.com.log;


  location / {
      proxy_pass http://localhost:3000;
      proxy_set_header Host $host;
      proxy_http_version 1.1;
      proxy_set_header Upgrade $http_upgrade;
      proxy_set_header Connection "upgrade";
    }

}