[program:site]
file=/var/run/supervisor.sock
process_name=%(program_name)s%(process_num)02d
directory=/var/www/test2022-frontend-rostyslav-m.abzdev2.com/current/
command=npm run start
autostart=true
autorestart=true
numprocs=1
redirect_stderr=true
stdout_logfile=/var/log/supervisor/next.log
