[program:site]
directory=/var/www/test2022-frontend-rostyslav-m.abzdev2.com/current/
autostart=true
autorestart=true
startretries=1
startsecs=1
redirect_stderr=true
stderr_logfile=/var/log/supervisor/next-err.log
stdout_logfile=/var/log/supervisor/next-out.log
user=root
stopsignal=QUIT
killasgroup=true
stopasgroup=true
